/* contact header */
.contact-header {
  background: url("../../public/assets/contact-us.png") no-repeat center center/cover;
  text-align: center;
  padding: 250px;
  color: white;
  position: relative;
}

/* Contact Section */
.contact-form-section {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.contact-form-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  background: linear-gradient(90deg, #0055FF, #FF4934 );
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  color: white;
  gap: 30px;
}

/* Left Form */
.contact-form {
  flex: 1;
  padding-right: 20px;
}

.contact-form h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact-form p {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 1.5;
  color: #f0f0f0;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.form-row input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  min-height: 100px;
  resize: none;
  margin-bottom: 15px;
}

button {
  background: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: darkred;
}

/* Right Photo */
.contact-photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-photo img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  object-fit: cover;
}

/* Map Section */
.map-section {
  margin-top: 40px;
  width: 100%;
}

.map-section iframe {
  width: 100%;
  height: 450px;
  border: none;
}

