.partnersSection {
  background: linear-gradient(90deg, #4e54c8, #ff4b2b);
  padding: 60px 20px;
  text-align: center;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.heading h2 {
   font-family: "Poppins", sans-serif;
  font-weight: 600;      /* SemiBold */
  font-size: 27px;
  line-height: 130%;
  letter-spacing: 0;
  color: #F8F9FF;
}

.line {
  height: 2px;
  width: 80px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
}

.logoBox {
  background: #fff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 40px;
  justify-items: center;
  align-items: center;
}

.logoBox img {
  max-height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logoBox img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .heading h2 {
    font-size: 1.3rem;
  }

  .logoBox {
    padding: 20px;
    gap: 20px;
  }

  .logoBox img {
    max-height: 45px;
  }
}
